bin/Debug/DB_finalproject.exe
bin/Debug/DB_finalproject.exe.config
bin/Debug/DB_finalproject.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DB_finalproject.csproj.AssemblyReference.cache
obj/Debug/DB_finalproject.csproj.CoreCompileInputs.cache
obj/Debug/DB_finalproject.csproj.FileListAbsolute.txt
obj/Debug/DB_finalproject.csproj.GenerateResource.cache
obj/Debug/DB_finalproject.exe
obj/Debug/DB_finalproject.pdb
obj/Debug/DB_finalproject.Properties.Resources.resources
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DB_finalproject.login.resources
obj/Debug/DB_finalproject.loginUI.resources
obj/Debug/DB_finalproject.UI.AdminhomeUI.resources
obj/Debug/DB_finalproject.UI.supplierhomeUI.resources
obj/Debug/DB_finalproject.UI.CustomerUI.resources
bin/Debug/BouncyCastle.Cryptography.dll
bin/Debug/BouncyCastle.Cryptography.xml
bin/Debug/Google.Protobuf.pdb
bin/Debug/Google.Protobuf.dll
bin/Debug/Google.Protobuf.xml
bin/Debug/K4os.Compression.LZ4.dll
bin/Debug/K4os.Compression.LZ4.Streams.dll
bin/Debug/K4os.Compression.LZ4.Streams.xml
bin/Debug/K4os.Compression.LZ4.xml
bin/Debug/K4os.Hash.xxHash.dll
bin/Debug/K4os.Hash.xxHash.xml
bin/Debug/Microsoft.Bcl.AsyncInterfaces.xml
bin/Debug/MySql.Data.dll
bin/Debug/MySql.Data.xml
bin/Debug/System.Buffers.dll
bin/Debug/System.Buffers.xml
bin/Debug/System.Configuration.ConfigurationManager.dll
bin/Debug/System.Configuration.ConfigurationManager.xml
bin/Debug/System.Diagnostics.DiagnosticSource.dll
bin/Debug/System.Diagnostics.DiagnosticSource.xml
bin/Debug/System.IO.Pipelines.dll
bin/Debug/System.Memory.dll
bin/Debug/System.IO.Pipelines.xml
obj/Debug/DB_final.22C8D5A1.Up2Date
obj/Debug/DB_finalproject.UI.SupplierUI.resources
obj/Debug/DB_finalproject.UI.MedicineUI.resources
bin/Debug/ZstdSharp.dll
bin/Debug/System.Threading.Tasks.Extensions.xml
bin/Debug/System.Threading.Tasks.Extensions.dll
bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
bin/Debug/System.Memory.xml
bin/Debug/System.Numerics.Vectors.dll
bin/Debug/System.Numerics.Vectors.xml
DL/DatabaseHelper.cs
DL/DatabaseHelper.cs
.vs/DB_finalproject/FileContentIndex/37d1c95e-778e-4581-b8a1-6ab526b6e62f.vsidx
